files: ^{{ dbt_project_dir }}/models/

repos:
{% if use_dbt_checkpoint %}
  - repo: https://github.com/dbt-checkpoint/dbt-checkpoint
    rev: {{dbt_checkpoint_version}}

    hooks:
      - id: check-source-table-has-description
      - id: check-script-semicolon
      - id: check-script-has-no-table-name
      - id: check-script-ref-and-source
      - id: check-model-has-description
      - id: check-model-has-properties-file
      - id: check-model-has-all-columns
{% endif %}
{% if use_sqlfluff %}
  - repo: https://github.com/sqlfluff/sqlfluff
    # this is the version of sqlfluff, needs to be updated when using a new sqlfluff version (pip show sqlfluff)
    rev: {{sqlfluff_version}}
    hooks:
      - id: sqlfluff-lint
        language: python
        # Need these two dependencies.
        #   sqlfluff-templater-dbt should match the version of sqlfluff above in rev (pip show sqlfluff-templater-dbt)
        #   dbt-snowflake needs to match the version in transform tab of Datacoves (pip show dbt-snowflake)
        additional_dependencies:
          [
            sqlfluff-templater-dbt=={{sqlfluff_version}},
            {% if 'snowflake' in dbt_adapter %}dbt-snowflake=={{dbt_adapter_version}},{% elif 'redshift' in dbt_adapter %}dbt-redshift=={{dbt_adapter_version}},{% elif 'databricks' in dbt_adapter %}dbt-databricks=={{dbt_adapter_version}},{% elif 'bigquery' in dbt_adapter %}dbt-bigquery=={{dbt_adapter_version}},{% endif %}
            dbt-core=={{dbt_core_version}},
          ]
        args: [--config, "{{ dbt_project_dir }}/.sqlfluff"]
{% endif %}
{% if use_yamllint %}
  - repo: https://github.com/adrienverge/yamllint.git
    rev: {{yamllint_version}}
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        exclude: ^{{ dbt_project_dir }}/.dbt_coves/templates

{% endif %}
{% if use_newstuff %}
  - repo: https://github.com/datacoves/some_new_library.git
    rev: {{newstuff_version}}
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        exclude: ^{{ dbt_project_dir }}/.dbt_coves/templates
{% endif %}