# put your secret values and credentials here.
# do not share this file and do not push it to github
# it should be renamed and should be in .gitignore
# you can put this file in ~/.dlt/secrets.toml

[destination.snowflake.credentials]
account = "<snowflake account>"
database = "<raw database>"
role = "<role name>"
warehouse = "<warehouse name>"
user = "<username>"
# private key should be a single line and have no \n or the BEGIN and END lines
private_key = "<private key>"
